@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e0e1dd;
    font-family: 'Inter', sans-serif;
    color: #0d1b2a;
}


h1 {
    text-align: center;
    font-size: 24px;
}

p {
    font-size: 19px;
}

b {
    transition: background-color .1s linear;
    background-color: rgb(255, 253, 205);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 4px;
    /* border-radius: 5px; */
}

b:hover {
    background-color: rgb(255, 248, 45);
}
img {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}

li {
    font-size: 19px;
}

nav li {
    list-style: none;
    font-size: 14px;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #0d1b2a;
    transition: .2s;
}

nav a:visited {
    color: #0d1b2a;
}

nav a:hover {
    pointer-events: painted;
    
    transition: .2s;
    font-size: 20px;
}

.main {
    position: absolute;
    left: 7%;
    right: 7%;

    margin-bottom: 500px;
}

.text-img {    
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 3px;
    justify-content: flex-start;
    align-items: center;

    background-color: #415a77;
    color: #e0e1dd;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;

    border: solid 0px #778da9;
    transition: border-width .2s;

}

.text-img img {
    width: 128px;
    height: 128px;
}

.text-img h2 {
    margin-left: 15px;
}

.text-img p {
    margin-left: 15px;
}

.text-img b {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 251, 223);
    box-shadow: none;
}

/* .text-img:hover {
    border-width: 3px;
} */

.text-img-clear {
    display: flex;

    justify-content: flex-start;
    align-items: center;

    padding: 10px;

    margin-bottom: 20px;
}

.text-img-clear img {
    width: 128px;
    height: 128px;
}

.text-img-clear h2 {
    margin-left: 15px;
}

.text-img-clear p {
    margin-left: 15px;
}

.main-text {
    text-align: center;
}