@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #212121;

}

h1 {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.logo {
    font-size: 24px;
    margin-bottom: 2em;
}

.logo b {
    background-color: rgb(0, 144, 217);
    color: white;
    transition: .2s;

    padding: 5px;
    border-radius: 10px;
}

.logo b:hover {
    background-color: rgb(146, 219, 255);
    color: #212121;

    cursor: pointer;
}

p {
    font-size: 17px;
}

b {
    transition: background-color .1s linear;
    background-color: rgb(255, 253, 205);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 4px;
    /* border-radius: 5px; */
}

b:hover {
    background-color: rgb(255, 248, 45);
}
img {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}

li {
    font-size: 17px;
}

.main {
    position: absolute;
    left: 25%;
    right: 25%;
}

.main img {
    width: 128px;
    height: 128px;
}

.main h1 {
    text-align: left;
    width: 70%;
}

@media only screen and (max-width: 768px) {
    nav li {
        font-size: 12px;
    }

    nav a {
        left: 0px;
        right: 0px;
    }

    .main {
        left: 7%;
        right: 7%;
    }
    
}

.content  {
    margin-bottom: 5em;
}

.text-img {    
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 3px;
    justify-content: flex-start;
    align-items: center;

    background-color: #415a77;
    color: #e0e1dd;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;

    transition: box-shadow .2s;

}

.text-img img {
    width: 128px;
    height: 128px;
}

.text-img h2 {
    margin-left: 15px;
}

.text-img p {
    margin-left: 15px;
}

.text-img b {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 251, 223);
    box-shadow: none;
}

.text-img:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px;
}

.text-img-clear {
    display: flex;

    justify-content: flex-start;
    align-items: center;

    padding: 10px;

    margin-bottom: 20px;
}

.text-img-clear img {
    width: 128px;
    height: 128px;
}

.text-img-clear p {
    margin-left: 15px;
}

.big-image {
    display: flex;

    justify-content: flex-start;
}

.big-image img {
    width: 256px; 
    height: 256px;

    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    .big-image img {
        width: 156px; 
        height: 156px;
    
        margin-right: 10px;
    }
}